.outerparent .innerparent:nth-of-type(1) .img-div{
    float:right;
    margin-right: 10rem;
    margin-top: 2rem;
}

.outerparent .innerparent:nth-of-type(2) .img-div{
    /* float:left; */
    margin-left: 10rem;
    margin-top: 2rem;
}

.full-width-image{
    margin-left: 4rem;
}



@media only screen and (max-width:900px) {
    .outerparent .innerparent:nth-of-type(1) .img-div{
        float:right !important;
    }
    
    .outerparent .innerparent:nth-of-type(2) .img-div{
        float:left !important;
        margin-left: 7rem;
    }
    
    .full-width-image{
        margin-left: 1rem;
    }
}
